<?php

$fileHeaderComment = <<<COMMENT
This file is part of the simplesamlphp-module-authchain.

Copyright (C) 2018 by Sergio Gómez <sergio@uco.es>

This code was developed by Universidad de Córdoba (UCO https://www.uco.es)

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
COMMENT;

<?php

$finder = PhpCsFixer\Finder::create()
    ->in([
        __DIR__ . '/src',
        __DIR__ . '/tests',
    ]);

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PSR12' => true,
        'header_comment' => ['header' => $fileHeaderComment, 'separate' => 'both'],
    ])->setFinder($finder);
